In [309]:
# import statements
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from pandas import Series, DataFrame

In [310]:
# read in data
train_df = pd.read_csv("data/train.csv") 
test_df = pd.read_csv("data/test.csv")

In [311]:
# preview the datatest_df.head()
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [312]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [313]:
# see info about data
train_df.info()
print("----------------------------")
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [314]:
# a naive solution, ignoring data cleaning and other useful relationships

# clean data
train_df = train_df.drop(['Ticket','Cabin', 'Embarked', 'Name', 'PassengerId'], axis=1)
test_df = test_df.drop(['Ticket','Cabin', 'Embarked', 'Name'], axis=1)
train_df = train_df.dropna()

In [315]:
# make everything ints
train_df['Age'] = train_df['Age'].astype(int)
test_df['Age'] = test_df['Age'].astype(int)
train_df['Fare'] = train_df['Fare'].astype(int)
# test_df['Fare'] = test_df['Fare'].astype(int)
train_df['Sex'] = train_df['Sex'].map(lambda s : 1 if s == 'male' else 0)
test_df['Sex'] = test_df['Sex'].map(lambda s : 1 if s == 'male' else 0)
test_df.head()

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [316]:

train_df['Age'] = train_df.groupby(['Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))
test_df['Age'] = test_df.groupby(['Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))

train_df['Age'] = train_df.groupby(['Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))
test_df['Age'] = test_df.groupby(['Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))

#train_df['Age'] = train_df['Age'].astype(int)
#test_df['Age'] = test_df['Age'].astype(int)

#train_df.loc[train_df['Age'] <= 16, 'Age'] = 0
#train_df.loc[(train_df['Age'] > 16) & (train_df['Age'] <= 32), 'Age'] = 1
#train_df.loc[(train_df['Age'] > 32) & (train_df['Age'] <= 48), 'Age'] = 2
#train_df.loc[(train_df['Age'] > 48) & (train_df['Age'] <= 64), 'Age'] = 3
#train_df.loc[(train_df['Age'] > 64), 'Age'] = 4

#test_df.loc[ test_df['Age'] <= 16, 'Age'] = 0
#test_df.loc[(test_df['Age'] > 16) & (test_df['Age'] <= 32), 'Age'] = 1
#test_df.loc[(test_df['Age'] > 32) & (test_df['Age'] <= 48), 'Age'] = 2
#test_df.loc[(test_df['Age'] > 48) & (test_df['Age'] <= 64), 'Age'] = 3
#test_df.loc[(test_df['Age'] > 64), 'Age'] = 4

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare
0            892       3    male  34.5      0      0    7.8292
1            893       3  female  47.0      1      0    7.0000
2            894       2    male  62.0      0      0    9.6875
3            895       3    male  27.0      0      0    8.6625
4            896       3  female  22.0      1      1   12.2875
5            897       3    male  14.0      0      0    9.2250
6            898       3  female  30.0      0      0    7.6292
7            899       2    male  26.0      1      1   29.0000
8            900       3  female  18.0      0      0    7.2292
9            901       3    male  21.0      2      0   24.1500
10           902       3    male   NaN      0      0    7.8958
11           903       1    male  46.0      0      0   26.0000
12           904       1  female  23.0      1      0   82.2667
13           905       2    male  63.0      1      0   26.0000
14           906       1  female  47.0      1      0   61.1750
15           907       2  female  24.0      1      0   27.7208
16           908       2    male  35.0      0      0   12.3500
17           909       3    male  21.0      0      0    7.2250
18           910       3  female  27.0      1      0    7.9250
19           911       3  female  45.0      0      0    7.2250
20           912       1    male  55.0      1      0   59.4000
21           913       3    male   9.0      0      1    3.1708
22           914       1  female   NaN      0      0   31.6833
23           915       1    male  21.0      0      1   61.3792
24           916       1  female  48.0      1      3  262.3750
25           917       3    male  50.0      1      0   14.5000
26           918       1  female  22.0      0      1   61.9792
27           919       3    male  22.5      0      0    7.2250
28           920       1    male  41.0      0      0   30.5000
29           921       3    male   NaN      2      0   21.6792
..           ...     ...     ...   ...    ...    ...       ...
388         1280       3    male  21.0      0      0    7.7500
389         1281       3    male   6.0      3      1   21.0750
390         1282       1    male  23.0      0      0   93.5000
391         1283       1  female  51.0      0      1   39.4000
392         1284       3    male  13.0      0      2   20.2500
393         1285       2    male  47.0      0      0   10.5000
394         1286       3    male  29.0      3      1   22.0250
395         1287       1  female  18.0      1      0   60.0000
396         1288       3    male  24.0      0      0    7.2500
397         1289       1  female  48.0      1      1   79.2000
398         1290       3    male  22.0      0      0    7.7750
399         1291       3    male  31.0      0      0    7.7333
400         1292       1  female  30.0      0      0  164.8667
401         1293       2    male  38.0      1      0   21.0000
402         1294       1  female  22.0      0      1   59.4000
403         1295       1    male  17.0      0      0   47.1000
404         1296       1    male  43.0      1      0   27.7208
405         1297       2    male  20.0      0      0   13.8625
406         1298       2    male  23.0      1      0   10.5000
407         1299       1    male  50.0      1      1  211.5000
408         1300       3  female   NaN      0      0    7.7208
409         1301       3  female   3.0      1      1   13.7750
410         1302       3  female   NaN      0      0    7.7500
411         1303       1  female  37.0      1      0   90.0000
412         1304       3  female  28.0      0      0    7.7750
413         1305       3    male   NaN      0      0    8.0500
414         1306       1  female  39.0      0      0  108.9000
415         1307       3    male  38.5      0      0    7.2500
416         1308       3    male   NaN      0      0    8.0500
417         1309       3    male   NaN      1      1   22.3583

[418 rows x 7 columns]

In [317]:
# define data
X_train = train_df.drop("Survived",axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId",axis=1).copy()

In [295]:
random_forest = RandomForestClassifier(n_estimators=100)
#random_forest = RandomForestClassifier(n_estimators=100, criterion='entropy', max_depth=10, max_features='sqrt', min_samples_split=5)

random_forest.fit(X_train, Y_train)

Y_pred = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [175]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic.csv', index=False)